@import 'Main.scss';

.g-main{
    width: 100%;
    min-height: 500px;
    margin-top: 10px;
}

.img-galeri-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:15px;
}

.g-img{
    width: 100%;
    height: auto;
}