

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



$font1: 'Roboto', sans-serif;
$font2: 'Roboto Condensed', sans-serif;
$font3: 'Permanent Marker', cursive;
$font4: 'Anton', sans-serif;
$font5: 'Tajawal', sans-serif;
$font6:  'Quicksand', sans-serif;
$vert:#1b5531;
$vertClair:#2e9455;
$jaune:#ead01a;
$colorText:#444645;
$bg:rgb(238, 241, 241);
$bg1:rgb(230, 231, 231);
